.c1{
    display: flex;
}
.c2{
    border: 2px solid white;
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 50%;
}
#i1{
    background-color: red;
}
#i2{
    background-color: yellow;
}
#i3{
    background-color: green;
}
.c3{
    margin-top: 80px;
    margin-left: 100px;
    color: red;
}
.c4{
    display: flex;
    justify-content: space-around;

}
.c5{
    margin-left: -80px;
    font-size: 20px;
    margin-top: 50px;
    border: 0.5px lightgrey solid;
    padding: 3px;
    background-color: rgb(217, 193, 193);
    transition: ease-in-out;
    border-radius: 5px;
}
.c5 a{
    text-decoration: none;
}
.c5 :hover{
        box-shadow: 0 0 15px rgba(200, 10, 194, 0.95), 0 0 30px rgba(47, 234, 37, 0.1);
}
      
    
.c6{
    margin-left: 100px;
    margin-top: 100px;
    color: white;
}
.c7{
    margin-left: 100px;
    color: white;
}
.c8{
    margin-left: 100px;
    margin-top: 50px;
    color: aqua;
}
.c9{
    border: 3px solid rgb(212, 129, 34);
    height: 90px;
    width: 0;
    margin-left: 100px;
}
.p1{
    margin-left: 110px;
    margin-top: -95px;
    color: white;
}
.p2{
    margin-left: 100px;
    color: white;
}
.c10{
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid rgb(230, 59, 7);
    padding: 10px;
    width: 200px;
    font-size: 40px;
    background-color: white;
    border-radius: 5px;
}
.c10 a{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    
}
.c11{
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid rgb(255, 55, 0);
    padding: 10px;
    width: 230px;
    font-size: 40px;
    background-color: white;
    border-radius: 5px;
}
.c11 a{
    padding: 10px;
    text-decoration: none;
}
.c12{
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid rgb(255, 34, 0);
    padding: 10px;
    width: 230px;
    font-size: 40px;
    background-color: white;
    border-radius: 5px;
}
.c12 a{
    padding: 10px;
     text-decoration: none;
}
.image {
    /* border: 1px solid white; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 900px;
    margin-top: -650px;
    background-image: url(myimage.png);
    background-size: cover;
    box-shadow: 2px 8px rgb(0, 0, 0);
    border-top: 3px solid green;
    border-bottom: 3px solid black;
}
